<?php
/**
 * Madkting Software (http://www.madkting.com)
 *
 *                                      ..-+::moossso`:.
 *                                    -``         ``ynnh+.
 *                                 .d                 -mmn.
 *     .od/hs..sd/hm.   .:mdhn:.   yo                 `hmn. on     mo omosnomsso oo  .:ndhm:.   .:odhs:.
 *    :hs.h.shhy.d.mh: :do.hd.oh:  /h                `+nm+  dm   ys`  ````mo```` hn :ds.hd.yo: :oh.hd.dh:
 *    ys`   `od`   `h+ sh`    `do  .d`              `snm/`  +s hd`        hd     yy yo`    `sd oh`    ```
 *    hh     sh     +m hs      yy   y-            `+mno`    dkdm          +d     o+ no      ss ys    dosd
 *    y+     ss     oh hdsomsmnmy   ++          .smh/`      om ss.        dh     mn yo      oh sm      hy
 *    sh     ho     ys hs``````yy   .s       .+hh+`         ys   hs.      os     yh os      d+ od+.  ./m/
 *    od     od     od od      od   +y    .+so:`            od     od     od     od od      od  `syssys`
 *                                 .ys .::-`
 *                                o.+`
 *
 * @category Module
 * @package Madkting\Connect
 * @author Carlos Guillermo Jiménez Salcedo <guillermo@madkting.com>
 * @link https://bitbucket.org/madkting/magento2
 * @copyright Copyright (c) 2017 Madkting Software.
 * @license See LICENSE.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php /** @var $block Madkting\Connect\Block\Adminhtml\AttributeMapping\Grid */ ?>
<div class="admin__data-grid-outer-wrap">
<?php if (!empty($headerGrid = $block->getChildHtml('madkting.grid.header'))): ?>
    <div class="madkting-grid-header-<?php echo $block->getGridName() ?>-management admin__data-grid-header">
        <?php echo $headerGrid ?>
    </div>
<?php endif; ?>
<?php if (!empty($grid = $block->getGrid())): ?>
    <div class="admin__data-grid-wrap">
        <?php echo $grid ?>
    </div>
<?php endif; ?>
<?php if (!empty($footer = $block->getChildHtml('madkting.grid.footer'))): ?>
    <div class="madkting-grid-footer-<?php echo $block->getGridName() ?>-management admin__data-grid-footer">
        <?php echo $footer ?>
    </div>
<?php endif; ?>
</div>
